[Desktop Entry]
Encoding=UTF-8
Name=Xrick
Comment=New version of Rick Dangerous
Comment[pl]=Nowa wersja Rick Dangerous
Icon=xrick.png
Exec=xrick
Terminal=false
Type=Application
Categories:Game;ArcadeGame;
# vi: encoding=utf-8
